
.body-inner {
    width: 100%;
    display: flex;
}
.content-area {
    width: 75%;
    margin-right: 20px;
}
.widget-area {
    width: 25%;
   
    height: 100vh;
}
.content-area p {
    margin: 10px 0;
}
.btn-content-area a {
    background-color: #ffc341;
    color: #333;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    padding: 0.618em 1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.widgettitle {
    position: relative;
    color: #ffc341;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    background-color: #363636;
    margin: 0;
    padding: 20px 0;
    padding-left: 15px;
    margin-bottom: 15px;
}
.widgettitle::after {
    content: "";
    background-color: #ffc341;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
}
.product_list_widget li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ece8e6;
}
.product_item_widget {
    display: flex;
}
.product_item_widget img {
    width: 80px;
}
.product_ct_widget {
    margin: 0  5px;
}
.product_ct_widget p:hover {
    text-decoration: underline;
}
.product_ct_widget span {
    display: inline-block;
    margin-top: 5px;
    color: #000;
}
.mg-bt {
    margin-bottom: 25px;
}
.widget-mt ul {
    columns: 2;
    
}
.widget-mt ul li a{
    
    color: #141414;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    text-decoration: none;
    
}
.widget-t ul li a{
    color: #141414;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    text-decoration: none;
}
.shop-table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}
.shop-table th {
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
}
.shop-table td {
    padding: 10px 15px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.product-quantity input {
    padding: 4.5px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 5em;
    text-align: center;
}
.product-name a {
    color: #000;
}
.product-remove {
    cursor: pointer;
}

.product-subtotal {
    min-width: 150px;
}
.btn-delete {
    display: inline-block;
    padding: 8px ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: red;
    font-size: 18px;
}
.btn-delete:hover {
    background-color: red;
    color: #fff;
}
.cart_totals {
    width: 48%;
    float: right;
}
.cart_totals h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.shop_table {
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.shop_table tr th {
    width: 45%;
    padding: 9px 12px;
}
.checkout-btn {
    background-color: #ffc341;
    color: #333;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding: 1em;
}
.checkout-btn:hover {
    background-color: #935386;
    color: #fff;
}
.total-price {
    word-break: break-all;
}
.totals-price {
    word-break: break-all;
}
@media(max-width :990px) {
    .body-inner {
        flex-direction: column;
    }
    .content-area {
        width: 100%;
    }
    .widget-area {
        width: 100%;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .shop-table {
        display: flex;
        
    }
    .shop-table thead tr {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }
    #myCart  tr {
        display: flex;
        flex-direction: column;
    }
    .product-price {
        padding-top: 55px;
    }
    
}