.add-product {
    background-color: red;
}

#add {
    text-align: center;
    width: 80%;
    padding: 0 10rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-inner {
    min-height: 90vh;
}
.add-inner{
    width: 60%;
    
}
.title-add {
    font-size: 5rem;
    margin: 2rem 0 5rem;
}
.form-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    position: relative;
}
.form-inner span {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.st-i {
    display: block;
    outline: none;
    padding: 20px 10px;
    width: 80%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 0.5px solid rgb(161, 157, 157);
}
.form-inner-i {
    width: 80%;
}
.form-inner-i input {
    width: 100%;
}
.btn-add {
   width: 300px;
   padding: 15px;
   border: 0.5px solid rgb(161, 157, 157);
   background-color: red;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   text-transform: uppercase;
   font-size: 20px;
   color: #fff;
     cursor: pointer;
}
.st-show {
    text-transform: capitalize !important;
    position: absolute;
    display: inline-block;
    left: 150px;
    bottom: -30px;
}
.notification {
    display: none;
    margin-top: 10px;
    font-size: 16px;
}
.fa-circle-check {
    color: red;
    margin-right: 5px;
}